<article class="song">
  <a href="/songs/<%=song.id%>"></a>
	<div class="song-container">
		 <span class="song-title"><%=song.title%></span>
	   <span class="artist"><%=song.artist%></span>
	</div>
  <div class="bottom">
    <!--  This whole section can be added when we add song roles have been added-->
      <!-- <% song.roles.each do |role| %> -->
         <!-- <i class="flaticon-<%= role.title %> <%= role.found %>"></i> -->
      <!-- <% end %> -->
  </div>
</a>
</article>
